@import '../../css/vars.scss';


.item-card:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: transform;
}

.item-card-opened {
    height: 100%;
}

.MuiCardMedia-root {
    object-fit: fill !important;
}
