@import '../../css/vars.scss';

header {
    background-color: $dark-color !important;
    a {
        text-decoration: None;
        color: $light-color;
        font-weight: 800;
    }
}

.app-name {
    cursor: pointer;
    color: $main-color;
}

.category-select {
    min-width: 10rem !important;
    border-color: $light-color;
}

.selected {
    font-weight: bold !important;
}

.not-selected {
    font-weight: normal !important;
}

.category-select label {
    font-weight: bold !important;
}

.powered-by-logo {
    width: 150px;
}
