@import '../../css/vars.scss';

header {
    background-color: $dark-color !important;
    a {
        text-decoration: None;
        color: $light-color;
        font-weight: 800;
    }
}

.app-name {
    cursor: pointer;
    color: $main-color;
}

.genre-select {
    min-width: 10rem !important;
    border-color: $light-color;
}

.selected {
    font-weight: bold !important;
}

.not-selected {
    font-weight: normal !important;
}

.genre-select label {
    font-weight: bold !important;
}

.powered-by-logo {
    width: 150px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition-duration: 0.5s;
    transition-property: transform;
}