@import './vars.scss';

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
    background-color: $dark-color !important;
}

header {
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
}

button,
input,
fieldset,
label,
span,
p,
.MuiSelect-root,
.MuiSelect-select,
.MuiSvgIcon-root,
.MuiPaginationItem-root{
    color: $light-color !important;
    border-color: $light-color  !important;
}

.MuiPaper-elevation {
    background-color: $dark-color  !important;
    color: $light-color  !important;
}

.height-100 {
    height: 100vh;
}
