@import './vars.scss';

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
    background-color: $dark-color !important;
}

header {
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
}

button,
input,
fieldset,
label,
span,
p,
.MuiSelect-root,
.MuiSelect-select,
.MuiSvgIcon-root,
.MuiPaginationItem-root{
    color: $light-color !important;
    border-color: $light-color !important;
}

.MuiFab-root {
    color: $light-color !important;
    background-color: $main-color !important;
}

.MuiPaper-elevation {
    background-color: $dark-color !important;
    color: $light-color !important;
}

.MuiCardMedia-root {
    object-fit: fill !important;
}

.height-100 {
    height: 100vh;
}

.width-100 {
    width: 100%;
}

.MuiSkeleton-root {
    background-color: $disabled-color  !important;
}

.MuiDrawer-root,
.MuiBackdrop-root,
.MuiDrawer-paper{
    width: 300px;
}

.MuiCardContent-root {
    padding-bottom: 0px !important;
}

.MuiCardActionArea-root,
.MuiCardContent-root{
    height: 100%;
}

.MuiDrawer-root {
    z-index: 0 !important;
}