@import './vars.scss';

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
    background-color: $dark-color !important;
}

button,
input,
fieldset,
label,
span,
p,
.MuiSelect-root,
.MuiSelect-select,
.MuiSvgIcon-root{
    color: $light-color !important;
    border-color: $light-color  !important;
}

.MuiPaper-elevation {
    background-color: $dark-color  !important;
    color: $light-color  !important;
}