@import '../../css/vars.scss';

.item-card-container:hover {
    z-index: 1;
}

.no-results {
    text-align: center;
    padding: 100px;
}

.back-to-top-button {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
}